from collections import Counter

import matplotlib.pyplot as plt
import numpy as np
import pennylane as qml
import sklearn.datasets
import sklearn.decomposition
import torch
import pandas as pd
from matplotlib.lines import Line2D
from matplotlib.patches import Patch

dataset = pd.read_csv("Data1_3000.csv", sep=';')
dataset

for col_name in dataset.columns: 
    yxg = len(dataset[col_name].unique().tolist())
    if yxg == 1:
        print(col_name)
        del dataset[col_name]
